* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
}

img {
  // border-radius: 4px;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

input,
select,
textarea {

}