.button {
  @include button;
  background-color: transparent;
  border-radius: #{$border-radius};
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1;
  min-width: 100px;
  padding-bottom: calc(0.8rem * 1.25);
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: calc(0.8rem * 1.25);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.333s ease-in-out;
  vertical-align: middle;

  &--white {
    border-color: rgba($white, 0.75);
    color: $white;

    &:hover {
      background-color: rgba($white, 0.4);
      border-color: rgba($white, 0);
    }
  }
}