@mixin button($border: null, $border-radius: 1px, $family: 'base', 
$font-size: 12px, $letter-spacing: 0.6px, $line-height: 1, $spacing: 0.8rem, $transform: 'uppercase') {
  border-radius: #{$border-radius};
  font-size: #{$font-size};
  font-weight: 600;
  letter-spacing: #{$letter-spacing};
  line-height: #{$line-height};
  padding-bottom: #{$spacing * 1.25};
  padding-left: #{$spacing};
  padding-right: #{$spacing};
  padding-top: #{$spacing * 1.25};
  text-transform: #{$transform};
  transition: background-color 0.333s ease-in-out;
}

@mixin button-hover($background, $text: 'white') {
  &:hover,
  &:focus,
  &:active {
    background-color: darken($background, 6%);
    color: $text;
  }
}

.button {
  @include button;
  background-color: transparent;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.333s ease-in-out;
  vertical-align: middle;


  &--white {
    border-color: rgba($white, 0.75);
    color: $white;

    &:hover {
      background-color: rgba($leafy-green, 1);
      border-color: rgba($white, 0);
      // color: $dark-blue;
    }
  }
}
