@mixin form-input-base(
  $font-family: 'base',
  $background: $black,
  $border-color: $greyish,
  $max-height: 47px
) {
  appearance: none;
  background-color: rgba($background, 0.15);
  // border: 1px solid darken($border-color, 8%);
  border-radius: 0;
  color: $white;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  max-height: $max-height;
  padding: 14px 15px 13px;
  width: 100%;

  &:focus {
    // background-color: rgba($background, 1);
    // border-color: $dark-blue;
    border: 1px solid rgba($silver-tree, 0.8);
    background-color: rgba($silver-tree, 0.05);
    outline: 0px dashed currentColor;
  }
}

@mixin form-label-base($font-family: 'base', $font-weight: 'normal', $font-size: 14px, $color: $black) {
  color: $color;
  display: block;
  font-family: $font-family;
  font-size: $font-size * 1.143;
  font-weight: $font-weight;
  line-height: 21px;
  margin-bottom: 8px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    line-height: 24px;
    margin-bottom: 9px;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: left;

  &__submit {
    margin-top: 10px;
  }

  &__input {
    @include form-input-base();
  }

  &__textarea {
    @include form-input-base();
    min-height: 200px;
  }

  &__label {
    display: block;
    font-size: 14px;
    // font-weight: 700;
    letter-spacing: 1px;
    line-height: 21px;
    margin-bottom: 8px;
    text-transform: uppercase;
  
    @media screen and (min-width: 768px) {
      line-height: 24px;
      margin-bottom: 9px;
    }
  }
  
}

.form-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-left: -10px;
  margin-right: -10px;
  min-width: 100%;
  position: relative;
}
